/* Control the look of the navbar, thanks to -- http://work.smarchal.com/twbscolor/css/2e8bcc31c6f7ffffffffffff0 */
.navbar-default {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.navbar-default .navbar-brand { color: #ffffff; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #ffffff; }
.navbar-default .navbar-text { color: #ffffff; }
.navbar-default .navbar-nav > li > a { color: #ffffff; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #ffffff; }
.navbar-default .navbar-nav > li > .dropdown-menu { background-color: #ffffff; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a { color: #5a5a5a; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #31c6f7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider { background-color: #3c8dbc; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #31c6f7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #31c6f7;
}
.navbar-default .navbar-toggle { border-color: #3c8dbc; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #3c8dbc; }
.navbar-default .navbar-toggle .icon-bar { background-color: #ffffff; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #ffffff; }
.navbar-default .navbar-link { color: #ffffff; }
.navbar-default .navbar-link:hover { color: #ffffff; }
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #ffffff;}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #ffffff;}
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #31c6f7;
    }
}
/* Dashboard search widget */
.tile.blue {
    padding: 20px;
    background: #3c8dbc;
}
/* Incident */
.reportItems div {
    background-color: #5a8fc1;
}
.reportItems .repTitle {
    background-color: #5a8fc1;
}
.reportItems .repValue {
    background-color: #e0e8f5;
}
/* Parking */
#apprTbl thead {
    background-color: #53abde;
}