/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
body {
    padding-top: 80px;
    color: #5c5c5c;
    background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    font-size: 14px;
}
/* Make the menu dropdown collapsed by default on mobile devices */
@media only screen and (max-width:480px){
    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
    }
    .navbar-nav .dropdown-menu > li > a, 
    .navbar-nav .dropdown-menu .dropdown-header { padding:5px 15px 5px 25px; }
    .navbar-nav .dropdown-menu > li > a { line-height:20px; }
    .navbar-default .navbar-nav .dropdown-menu > li > a { color:#fff; }
}
/* Dropdown submenus */
/* https://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-submenu .dropdown-menu a:hover,
.dropdown-submenu .dropdown-menu a:focus {
    color: #ffffff;
    background-color: #31c6f7;
}
/* Control the width of popover */
.popover {
    width: 350px;
}
/* Table display */
.table > tbody > tr > td {
     vertical-align: middle;
}
/* Table odd/even row bg colour */
.table-custom-stripe tr:nth-child(odd) {
background-color: #ffffff;
}
.table-custom-stripe tr:nth-child(even) {
background-color: #f7f7f7;
}
/* Center the nav-brand */
@media (min-width: 767px) {
    .navbar-center {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height:100%;
    }
}
/* navbar-toggle positioning and styling */
.navbar-default .navbar-toggle { float: left; } /* Move navbar toggle to left */
/* Dashboard styling */
.dashboard { color: #ffffff; }
.dashboard a {color: #ffffff; text-decoration: none;}
.dashboard.row h4 {line-height: 50px;}
.dashboard.row h5 {line-height: 20px;}
/* Custom buttons */
.btn-static { pointer-events: none; }
/******************/
/***LANDING PAGE***/
.block {
    padding: 0px 5px 10px 10px;
}
.icon .fa, .icon .far, .icon .fas {
    color: rgb(255, 255, 255);
    font-size: 50px; 
    line-height: 80px; 
    text-align: center; 
    width: 80px; 
    height: 80px; 
}
/*.icon .fa-exclamation-triangle { background-color: #008a8f; }
.icon .fa-exclamation-triangle:hover { background-color: #065a5d; }*/
.icon .fa-key { background-color: #70a025; }
.icon .fa-key:hover { background-color: #4e6f1a; }
.icon .fa-box { background-color: #e89434; }
.icon .fa-box:hover { background-color: #b96b11; }
.icon .fa-exclamation-triangle { background-color: #d53a3a; }
.icon .fa-exclamation-triangle:hover { background-color: #a21919; }
.icon .fa-bicycle { background-color: #ff6800; }
.icon .fa-bicycle:hover { background-color: #bc5005; }
.icon .fa-car { background-color: #7d44c6; }
.icon .fa-car:hover { background-color: #5d3294; }
.icon .fa-calendar-alt { background-color: #0196aa; }
.icon .fa-calendar-alt:hover { background-color: #017281; }
.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 0px;
}
/*.tile.blue {
    padding: 20px;
    background: #3c8dbc;
}*/
.tile.app {
    -webkit-box-shadow: 1px 2px 5px -1px rgba(153,153,153,1);
    -moz-box-shadow: 1px 2px 5px -1px rgba(153,153,153,1);
    box-shadow: 1px 2px 5px -1px rgba(153,153,153,1);
}
.icon { padding: 0px; }
.title {
    padding: 5px 0px 0px 15px;
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
.title a { color: #404040; }
.app_info {
    color: #808080;
    font-size: 0.7em;
    padding-top: 15px;
}
.app_info .big_num {
    font-weight: bold;
    font-size: 1.9em;
}
/* For Mobile Devices */
/* Force mobile phones locked to portrait mode */
@media screen and (min-width: 320px) and (max-width: 1023px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  body { padding-top: 65px; }
}
@media (max-width:480px) {
    body { padding-top: 65px; }
    .block { padding: 0px 0px 10px 0px; }
    .title { padding: 5px 0px 0px 5px; }
}
/* For Tablet Devices */
@media (max-width:768px) {
    body { padding-top: 65px; }
    .block { padding: 0px 5px 10px 5px; }
    .title { padding: 5px 0px 0px 5px; }
}
/* For tables */
@media only screen and (max-width: 767px) {
    .tblHiRes {
        display: none;
    }
}

/* SPECIFIC TO NEWNHAM */
/* For small tiles */
.icon-sm { padding: 0px; }
.icon-sm .fa, .icon-sm .far, .icon-sm .fas, .icon-sm .fab {
    color: rgb(255, 255, 255);
    font-size: 30px; 
    line-height: 40px; 
    text-align: center; 
    width: 80px; 
    height: 40px; 
}
.icon-sm .fa-calendar, .icon-sm .fa-desktop, .icon-sm .fa-utensils, .icon-sm .fa-medkit { background-color: #578293; }
.icon-sm .fa-calendar:hover, .icon-sm .fa-desktop:hover, .icon-sm .fa-utensils:hover, .icon-sm .fa-medkit:hover { background-color: #3e5d69; }
.icon-sm .fa-phone, .icon-sm .fa-calendar-alt, .icon-sm .fa-link, .icon-sm .fa-product-hunt, .icon-sm .fa-users, .icon-sm .fa-id-card-alt, .icon-sm .fa-calendar-day, .icon-sm .fa-address-book, .icon-sm .fa-globe-americas, .icon-sm .fa-network-wired, .icon-sm .fa-map-marked-alt { background-color: #578293; }
.icon-sm .fa-phone:hover, .icon-sm .fa-calendar-alt:hover, .icon-sm .fa-link:hover, .icon-sm .fa-product-hunt:hover, .icon-sm .fa-users:hover, .icon-sm .fa-id-card-alt:hover, .icon-sm .fa-calendar-day:hover, .icon-sm .fa-address-book:hover, .icon-sm .fa-globe-americas:hover, .icon-sm .fa-network-wired:hover, .icon-sm .fa-map-marked-alt:hover { background-color: #3e5d69; }