/* Control the look of the navbar, thanks to -- http://work.smarchal.com/twbscolor/css/2e8bcc31c6f7ffffffffffff0 */
.navbar-default {
    background-color: #106470;
    border-color: #106470;
}
.navbar-default .navbar-brand { color: #ffffff; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #ffffff; }
.navbar-default .navbar-text { color: #ffffff; }
.navbar-default .navbar-nav > li > a { color: #ffffff; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #ffffff; }
.navbar-default .navbar-nav > li > .dropdown-menu { background-color: #003A41; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a { color: #ffffff; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #28828A;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu .divider { background-color: #28828A; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #003A41;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #003A41;
}
.navbar-default .navbar-toggle { border-color: #28828A; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #28828A; }
.navbar-default .navbar-toggle .icon-bar { background-color: #ffffff; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #ffffff; }
.navbar-default .navbar-link { color: #ffffff; }
.navbar-default .navbar-link:hover { color: #ffffff; }
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #ffffff;}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #ffffff;}
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #28828A;
    }
}
/* Bootstrap primary button */
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: #171717;
  border-color: #171717;
}
/* Dashboard search widget */
.tile.blue {
    padding: 20px;
    background: #28828A;
}
/* Incident */
.reportItems div {
    background-color: #28828A;
}
.reportItems .repTitle {
    background-color: #28828A;
}
.reportItems .repValue {
    background-color: #D7DDDE;
}
/* Parking */
#apprTbl thead {
    background-color: #28828A;
}