/* Report items styling */
.reportItems div {
  	padding: 0px;
  	text-align: left;
  	/*background-color: #5a8fc1; -- Refer to theme */
}
.reportItems .repRow {
  	border:solid 1px white;
}
.reportItems .repTitle {
  	padding: 5px; 	
  	/*background-color: #5a8fc1; -- Refer to theme */
  	color: #fff;
}
.reportItems .repValue {
	padding: 5px;
  	/*background-color: #e0e8f5; -- Refer to theme */
}
#page_nav {
  text-align: center;
  /*margin-top: 20px;*/
  color: #ccc;
}
#page_nav i {
  padding: 20px;
}
.text-muted {
  color: #909090;
}
.comments {
  margin-top: 10px;
}
.comments hr {
margin-top: 10px;
  margin-bottom: 10px;
}
.delhod, .delhod:hover { color: #EE7272; }
/* For tablets or higher resolution */
@media (min-width: 768px) {
  #infoRm {
    padding-right: 5px;
  }
  #infoYr {
    padding-left: 0px;
    padding-right: 5px;
  }
  #infoContact {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  #infoRm {
    padding-bottom: 5px;
  }
  #infoYr {
    padding-bottom: 5px;
  }
}
/* App settings */
.settingForm .input-group { margin-bottom: 5px; }
#save { margin-top: 5px; }
/* Edit modal */
.editMdlTitle {
  font-size: 0.8em;
  font-weight: bold;
}
/* File upload */
.entry:not(:first-of-type) { margin-top: 10px; }


