/* App settings */
#grpForm .input-group, #genForm .input-group { margin-bottom: 5px; }
#save { margin-top: 5px; }
/*.input-sm { max-width: 300px; }*/
.boxRow { margin-bottom: 20px; background-color: #f7f7f7; }



