body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
#calendar {
	background-color: #fff;
	padding: 10px;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.fc-time-grid .fc-slats td {
   	height: 3.5em;
}
.itemBox, .itemBoxActive {
	border: 1px solid #ccc;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	background-color: #fff;
}
.itemBoxActive {
	border: 2px solid #3C91E6;
}
.itemBox div {
	padding: 0px 5px 0px 0px;
	margin: 0px;
}
.itemBoxActive div {
	padding: 0px;
	margin: 0px;
}
.itemBox h4, .itemBoxActive h4 {
	margin: 0px 0px 4px 0px;
}
.itemBox div a, .itemBoxActive div a {
	text-decoration: none;
}
.itemTxtsm { font-size: 0.9em; }
.selRmTxt { 
	padding-bottom: 5px; 
	color: #f25022;
}
.scrollit {
    max-height: calc(100vh - 100px); /* Good trick to adjust hieght based on screen size */
    overflow-y: auto;
}
.fc h2 {
   font-size: 1.2em;
   font-weight: bold;
   margin-top: 10px;
}
/* Shade days in the past */
td.fc-day.fc-past {
    background-color: #eee;
}
#btnDesc, #btnDescEdit {
	padding-top: 0px;
	padding-bottom: 0px;
}
/* Mobile devices view */
@media only screen and (max-width:480px) {
	.fc h2 {
		margin-top: 20px;	
	}
	.itemTxtsm {
		font-size: 0.8em;
	}
}