#signTbl thead {
	background-color: #53abde;
	color: #ffffff;
}
#signTbl th {
	font-weight: normal;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    /*left: 0;*/
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    background: #fff;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}
/* Sign modal */
#optionBtns { margin-top: 10px; }
#sign { margin-top: 10px; }
#scan { margin-top: 20px; }
/* App settings */
.settingForm .input-group { margin-bottom: 5px; }
#save { margin-top: 5px; }
#signtypediv { margin-top: 10px; }
#signtypediv label { font-weight: normal; }
#deltypediv { margin-top: 20px; }
#deltypediv, #dellocdiv {
    font-weight: normal;
    color: #d9534f;
}
/* Show photo on hover */
.hover-container {
    position: relative;
}

.hover-content {
    position: absolute;
    width: 150px;
    color: #2e8bcc;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
    display: none;
    text-align: center;
}
.hover-container:hover .hover-content {
    display: block;
    z-index: 999;
}
/* Format button label on hover */
button:hover {
    position: relative;
}
button[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    left: 12px;
    top: 80%;
    white-space: nowrap;
    z-index: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    box-shadow: 5px 5px 5px #ccc;
}



