.hover-container {
    position: relative;
}

.hover-content {
    position: absolute;
    width: 200px;
    color: #2e8bcc;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
    display: none;
}

.hover-container:hover .hover-content {
    display: block;
    z-index: 999;
}
/* App settings */
.settingForm .input-group { margin-bottom: 5px; }
#save { margin-top: 5px; }
.optfieldsTemplate { display: none; }
.optfields { 
    font-size: 0.9em;
    margin-top: 10px;
}
#opt-0 { display: none; }
.optfields div { padding: 1px; }
.editor {
    width: 100%;
    height: 60px;
    border: 1px;
    border-color: blue;
    overflow-x: auto;
    background-color: #f6f6f6;
}
#optSaveMsg, #addRemDiv { margin-top: 10px; }
/* Key List */
#quickAdd .input-group { margin-bottom: 5px; }
/* Key staff */
#addStaffForm .input-group { margin-bottom: 5px; }