/* App settings */
.settingForm .input-group { margin-bottom: 5px; }
#save { margin-top: 5px; }
#apprTbl thead {
    /*background-color: #53abde; -- refer to theme */
    color: #ffffff;
}
#apprTbl th {
    font-weight: normal;
}



